<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../base.ejs') %> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baste Visitor | Scanner</title>
    <link rel="stylesheet" href="css/scanner.css">
    <script src="js/instascan.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="video-container">
            <h1>Scan Out Here!</h1>
            <video id="preview"></video>
        </div>
    </div>
</body>
    <script src="js/scanner.js"></script>
</html>