<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./base.ejs') %> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
    body{
        background-color: #06623b;
    }

    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .container{
        box-shadow: 4px 4px 20px black;
        border-radius: 20px;
        background-color: white;
        max-width: 500px;
        width: 100%;
        padding: 50px;
        text-align: center;
    }
</style>

</head>
<body>
    <div class="wrapper">
        <div class="container">
            <img src="assets/seal.png" alt="">
            <h1>404 | ERROR</h1>
            <h3>Page not found.</h3>
        </div>
    </div>
</body>
</html>