<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./base.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor Log Form | SSCRdC</title>
    <link rel="stylesheet" href="css/form.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <img class="logo" width="111" height="108" src="assets/seal.png">
            <div class="binfo">Visitor Log Form</div> <hr>
            <form class="form" action="form" method="post">
                <div class="input_field">
                    <label for="name">Name</label>
                    <input type="text" class="input" name="name" id="name" required>
                </div>
                <div class="input_field">
                    <label for="address">Address</label>
                    <textarea class="textarea" name="address" id="address" required></textarea>
                </div>
                <div class="input_field">
                    <label for="contactNumber">Contact Number</label>
                    <input type="text" class="input" name="contactNumber" id="contactNumber" required>
                </div>
                <div class="input_field">
                    <label for="purpose">Purpose</label>
                    <textarea class="textarea" name="purpose" id="purpose" required></textarea>
                </div>
                <div class="input_field">
                    <button class="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>