@import 'main.css';

.wrapper{ 
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
    width: 100%;
    flex-direction: row;
    height: 100%;
    position: relative;
}

nav{
    width: 300px;
    min-height: 100vh;
    position: fixed;
    padding: 2vh;
}

nav .nav-container{
    background-color:white;
    min-height: 96vh;
    border-radius: 10px;
    padding: 10px;
}

nav .nav-container .brand-container{
    background-color: #06623b;
    padding: 10px;
}

nav .nav-container .brand-container img{
    margin: 0 auto;
    display: block;
}

nav .nav-container .brand-container h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
}

nav .nav-container .navigation .nav-links .nav-item a{
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: #06623b;
    margin: 10px 0;
    transition: transform .4s;
}

nav .nav-container .navigation .nav-links .active a{
    background-color: black;
}

nav .nav-container .navigation .nav-links .nav-item a:hover{
    transform: scale(1.07);
    background-color: #649d66;
}

main{
    display: block;
    width: calc(100% - 300px);
    flex: 1;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    padding: 2vh;
}

main .main-container{
    min-height: 96vh;
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main-container .title h1{
    font-size: 2rem;
    font-weight: 500;
    color: #06623b;
}

main .main-container .titlepage{
    padding: 10px;
    background-color: #06623b;
    margin: 20px 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.125);
    text-align: center;
    width: 100%;
}

main .main-container .titlepage h1{
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

main .main-container .main-dashboard{
    width: 100%;
}

main .main-container .main-dashboard .top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

main .main-container .main-dashboard .bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

main .main-container .main-dashboard div > div{
    background-color:rgb(228, 228, 228);
}

main .main-container .main-dashboard .counter{
    width: 28%;
    height: 250px;
}

main .main-container .main-dashboard .bar-graph{
    width: 68%;
    height: 350px;
}

main .main-container .main-dashboard .pie-chart{
    width: 48%;
    height: 350px;
}

main .main-container .main-dashboard .top-three{
    width: 48%;
    height: 350px;
}

#bar-graph{
    margin-top: 4px;
    height: 300px !important;
}

#pie-chart{
    margin-top: 30px;
    width: 100%;
}

main .main-dashboard .top .counter div div > h1{
    font-size: 7rem;
    background-color: rgb(225, 225, 225, 0);
    font-weight: 1000;
    color: #06623b;
}

.top-three-box div{
    display: flex;
    align-self: center !important;
    padding: 10px;
    margin: 15px;
}

.number{
    font-size: 2.5rem !important;
    max-width: 100px;
    width: 100%;
    font-weight: 400 !important;
}

.top-three-box div h2{
    border: 5px solid #06623b;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

main .main-container .main-dashboard .detail-widgets h1{
    background-color: #06623b;
    padding: 5px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    color: white;
}



/* @media only screen and (max-width: 960px){
    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        width: 100%;
        position: static; 
    }

    nav{
        position: static;
        width: 100%;
        min-height: 0;
        position: sticky;
        top: 0;
        padding-top: 0;
        z-index: 5;
    }

    nav .nav-container{
        min-height: 0;
        display: flex;
        justify-content: space-between;
    }
    nav .nav-container .brand-container{
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    nav .nav-container .brand-container h1{
        margin-top: 20px;
    }

    nav .nav-container .navigation .nav-links{
        position: fixed;
    }
} */

