

main .main-container .main-content{
    width: 100%;
}

main .main-container .main-content .content-details{
    width: 100%;
    margin-bottom: 50px;
    background-color: white;
}

main .main-container .main-content .table{

}

main .main-container .main-content .content-details .detail-form h1{
    background-color: #06623b;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

main .main-container .main-content .content-details .details-item{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-right: 1px solid #06623b;
    border-left: 1px solid #06623b;
}

main .main-container .main-content .content-details .details-item h1{
    font-size: 1.2rem;
    color: #06623b;
    font-weight: 500;
    padding: 5px;
}

main .main-container .main-content .content-details .details-item p{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 5px;

}


main .main-container .main-content .table .detail-form h1{
    background-color: #06623b;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}
