
.table{
    width: 100%;
    height: 600px;
    overflow-y: auto;
}

table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color:rgb(196, 196, 196);
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
}

th {
    border: 1px solid black;
    border-top: none;
    text-align: center;
    padding: 8px;
    border-spacing: 0px;
    background-color:#06623b ;
    font-size: 1.3rem; 
    color: white;
}


.details-btn{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #06623b;
    background-color: #f6d743;
}

.details-btn:hover{
    background-color: #649d66;
    color: white;
}