
.table{
    /* max-width: 1000px; */
    background-color: rgb(196, 196, 196);
    width: 100%;
    height: 650px;
    overflow-y: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.125);
}

table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
}

thead tr th:hover {
    background-color: #649d66;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color:rgb(228, 228, 228);
}

tr:hover{
    background-color: #649d66;
    color: white;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}


th {
    text-align: center;
    padding: 8px;
    border-spacing: 0px;
    background-color:#06623b ;
    font-size: 1.3rem; 
    color: white;
}


.details-btn{
    width: 100px;
    padding: 5px 15px;
    outline: none;
    border: none;
    color: black;
    background-color: #f6d743;
}

.details-btn:hover{
    background-color: white;
}