.visit-header{
    /* max-width: 1000px; */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.125);
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}
.visit-header form{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(196, 196, 196);
    justify-content: space-between;
    padding: 10px 20px;
}

.visit-header > * {
    display: block;
}

.visit-header input, select{
    padding: 5px;
    border: none;
}

.visit-header button{
    padding: 5px 15px;
    background-color: #06623b;
    color: white;
    border: none;
}

.visit-header button:hover{
    background-color: #649d66;
    cursor: pointer;
}

.visit-header #date-label{
    font-weight: 500;
    color: #06623b;
}

.visit-header #date{
    max-width: 150px;
    width: 100%;
}

.visit-header #date:hover{
    cursor: pointer;
}

.visit-header .office-form{
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 960px){
    .visit-header form{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 10px;
       padding: 0px;
    }
    .visit-header form div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
    }
    .visit-header form div input{
        margin: 10px 0;
    }
}